
#container{
    max-width: 400px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 43px 17px rgba(153,153,153,1);

}

/* .calculator{
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.5);
    
} */

#display{
    text-align: right;
    height: 50px;
    line-height: 70px;
    background-color:rgb(51, 47, 47);
    padding: 0.75rem 1rem;
    text-align: right;
    font-size: 25px;
}

.calculator_keys{
    display:grid;
    background:rgb(41, 45, 48);
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calculator_keys > div{
    border-top: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
}

.button{
    border: 1px solid white;
    line-height: 100px;
    text-align: center;
    font: size 25px;
    cursor: pointer;
    color:white;
}

#equal{
    background-color:rgb(48, 48, 167);
    color:white;
}
.button:hover{
    background-color:rgb(0, 0, 0);
    color:white;
    transition:0.2s ease-in-out;
}